{%extends "layout.html"%}
{%block content%}
<div>
    <form method="POST" action="">
        {{form.hidden_tag()}}   {# Transferring CSRF token = secret key #}
        <div>
            {{form.username.label}}
            {{form.username}}
            {%if form.username.errors%}
                <div>
                    {%for error in form.username.errors%}
                        <span>{{error}}</span>
                    {%endfor%}
                </div>
            {%endif%}
        </div>
        <div>
            {{form.email.label}}
            {{form.email}}
            {%if form.email.errors%}
            <div>
                {%for error in form.email.errors%}
                    <span>{{error}}</span>
                {%endfor%}
            </div>
            {%endif%}
        </div>
        <div>
            {{form.password.label}}
            {{form.password}}
            {%if form.password.errors%}
            <div>
                {%for error in form.password.errors%}
                    <span>{{error}}</span>
                {%endfor%}
            </div>
            {%endif%}
        </div>
        <div>
            {{form.confirmPassword.label}}
            {{form.confirmPassword}}
            {%if form.confirmPassword.errors%}
            <div>
                {%for error in form.confirmPassword.errors%}
                    <span>{{error}}</span>
                {%endfor%}
            </div>
            {%endif%}
        </div>
        <div>
            {{form.submit}}
        </div>
    </form>
</div>
<div>
    <small>
        Already Have An Account?<a href="{{url_for('login')}}"> Sign In</a>
    </small>
</div>
{% endblock content %}
