<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
        {%if title%}
            <title>{{title}}</title>
        {%else%}
            <title>Flask Exercise</title>
        {%endif%}
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <div>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </div>
        <div>
            {%block content%}{%endblock content%}
        </div>
    </body>
</html>